
*.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/charset_normalizer/md.cp39-win_amd64.pyd
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/charset_normalizer/md__mypyc.cp39-win_amd64.pyd
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/charset_normalizer/__pycache__/api.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/charset_normalizer/__pycache__/cd.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/charset_normalizer/__pycache__/legacy.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/charset_normalizer/__pycache__/utils.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/charset_normalizer/__pycache__/version.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/__pycache__/__init__.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/__pycache__/pyparsing.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/__pycache__/six.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/__about__.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/__init__.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/_compat.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/_structures.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/markers.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/requirements.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/specifiers.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/version.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/pkg_resources/extern/__pycache__/__init__.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/urllib3/__pycache__/_version.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/urllib3/__pycache__/connection.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/urllib3/__pycache__/connectionpool.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/urllib3/util/__pycache__/timeout.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/urllib3/util/__pycache__/url.cpython-39.pyc
TME_webAPI_DBO/mySearchEngine/mytig/__pycache__/urls.cpython-39.pyc
TME_webAPI_DBO/mySearchEngine/mytig/__pycache__/views.cpython-39.pyc
