TME_webAPI_DBO/mySearchEngine/mytig/__pycache__/urls.cpython-39.pyc
TME_webAPI_DBO/mySearchEngine/mytig/__pycache__/views.cpython-39.pyc
TME_webAPI_DBO/myTidyVEnv/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-39.pyc
TME_webAPI_DBO/mySearchEngine/mytig/__pycache__/urls.cpython-39.pyc
TME_webAPI_DBO/mySearchEngine/mytig/__pycache__/views.cpython-39.pyc
